absl-py
astunparse
blinker
certifi
charset-normalizer
click
contourpy
customtkinter
cycler
darkdetect
Flask
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
keras
kiwisolver
line_profiler
libclang
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
dm-tree
attrs
namex
numpy
opt_einsum
optree
packaging
paho-mqtt
pandas
pillow
protobuf
Pygments
pyparsing
python-dateutil
python-dotenv
requests
rich
scikit-learn
scipy
setuptools
six
tensorflow
tensorflow-model-optimization
termcolor
threadpoolctl
typing_extensions
urllib3
Werkzeug
wheel
wrapt
PySide6